<div class="container-fluid">
  <div style="height: 80px"></div>
  <div class="row">
    <!-- confirmation image -->

    <div class="col-sm image">
      <img src="assets/images/confirmlogo.jpg" alt="confirmlogo" />
    </div>
    <!-- confirmation meassage -->
    <div class="col-sm msg">
      <h1>Great!</h1>
      <p>Service center has been successfully added.</p>
      <button routerLink="/centerprofile" type="button" class="btn btn-warning">
        check out
      </button>
    </div>
  </div>
</div>
